html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DDDDDD;
}

.polylion {
    height: 800px;
    max-width: 100%;
}